*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
h1 {
    height: 5rem;
    background-color: #1d3557;
    line-height: 5rem;
    color: #f1faee;
}
.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.choice:hover{
background-color: black;
cursor: pointer;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 10rem;
}
.score-board{
display: flex;
justify-content: center;
align-items: center;
gap: 4rem;
margin-top: 2rem;
font-size: 2rem;
}

#user-score, #mac-score{
font-size: 5rem;
}
.msg{
    background-color: #457b9d;
    display: inline;
    padding: 1rem;
    color: #f1faee;
    border-radius: 2rem;
}
.msg-container{
margin-top: 3rem;
}
